/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole flex */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* codice temporaneo per esercizio */