/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole flex */

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.main-axis-flex-end {
    justify-content: flex-end;
}
.perfect-center {
    justify-content: center;
    align-items: center;
}

/* --- codice temporaneo per esercizio --- */

/* header + bottom footer */
header, #footer-bottom, #footer-top {
    background-color: bisque;
    width: 80%;
}
.logo-box, .btn-box {
    flex-basis: 120px;
    height: 48px;
    background-color: blue;
}
nav {
    flex-basis: 400px;
    height: 48px;
    background-color: blueviolet;
}

/* hero */

#hero {
    background-color: aquamarine;
    padding-bottom: 40px;
    gap: 40px;
}

/* hero content */
#hero > div {
    width: 80%;
    flex-basis: 280px;
    background-color: lightsteelblue;
}
/* button container into hero content */
#hero > div > div {
    width: 280px;
    height: 80px;
    background-color: chocolate;
}

/* main sections */
main > section {
    width: 100%;
    background-color: chartreuse;
}

/* imgs and content into the main sections */
main > section > figure, main > section > div {
    flex-basis: 36%;
    height: 320px;
    background-color: darkgreen;
}