/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole flex */

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

/* --- codice temporaneo per esercizio --- */

/* header + bottom footer content */
.logo-box, .btn-box {
    flex-basis: 120px;
    height: 48px;
    background-color: blue;
}

nav {
    flex-basis: 400px;
    height: 48px;
    background-color: blueviolet;
}